@page "/"

<h1>Hello!</h1>
<p>Welcome to <strong>Uroboro</strong>.</p>

<img src="/images/uroboro.png" alt="uroboro" />

<Dialog Title="Learn More">
    Do you want to
    <i>learn more</i> about Blazor?
</Dialog>

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="10" />