@using Services
@using Uroboro.Common.Models
@inject IBlazorService BlazorService;
@page "/service"

<h3>Service</h3>

@if (items != null)
{
    <ul>
        @foreach (var item in items)
        {
            <li>@item.Name (@item.IsComplete)</li>
        }
    </ul>
}

@code {
    private IReadOnlyList<TodoItem> items;

    protected override async Task OnInitializedAsync()
    {
        items = await BlazorService.GetAsync();
    }
}